.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10%;
}

input {
}

button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin: 10px;
}

.selects {
  padding: 0.5em;
  margin: 1em;
}
